<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="CustomerConfig">
      <section name="BaseInfo" type="System.Configuration.NameValueSectionHandler" />
      <section name="PhotoInfo" type="System.Configuration.NameValueSectionHandler" />
      <section name="GameInfo" type="System.Configuration.NameValueSectionHandler" />
      <section name="BrowserInfo" type="System.Configuration.NameValueSectionHandler" />
      <section name="WeatherInfo" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <CustomerConfig>
    <BaseInfo>
      <add key="Debug" value="true" />
    </BaseInfo>
    <PhotoInfo>
      <add key="PrintMargin" value="18 18 18 18" />
    </PhotoInfo>
    <GameInfo>
      <add key="FileName" value="C:\UDK\SkiRangerGame\Binaries\Win32\UDK.exe" />
      <add key="Arguments" value="-seekfreeloading" />
      <add key="Reboot" value="true" />
    </GameInfo>
    <BrowserInfo>
      <add key="Google" value="https://www.google.com"></add>
      <add key="Cisco" value="http://www.cisco.com"></add>
      <add key="DevNet" value="https://developer.cisco.com/"></add>
    </BrowserInfo>
    <WeatherInfo>
      <add key="StartDate" value="2015-01-21"></add>
      <add key="Weather" value="cloudy cloudy cloudy cloudy, cloudy cloudy"></add>
    </WeatherInfo>
  </CustomerConfig>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
    </services>
  </system.serviceModel>
</configuration>